.player-wrapper {
	background-color: #000; /* Цвет фона по умолчанию */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-wrapper.playing {
	background-color: #333; /* Цвет фона при воспроизведении */
}

.react-player {
	width: 100%;
	height: 100%;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.controls button,
.controls label {
	margin: 0.5rem;
	color: #fff;
	background-color: #444;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
}

.controls input[type='range'] {
	width: 100%;
}
